@keyframes myAnimation {
    0%, 100% {
      text-shadow: 0px 0px 5px $quin, 0px 0px 5px $txt, 0px 0px 10px $tert;
    }
    25% {
      text-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;
    }
    50% {
      text-shadow: 0px 0px 15px $quin, 0px 0px 15px $txt, 0px 0px 20px $tert;
    }
    75% {
      text-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;
    }
  }