// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,700&display=swap');

// Define variables
$bg: rgb(8, 8, 26);
$txt: white;
$tert: #4100a2;
$quat: rgb(0, 84, 147);
$quin: rgba(194, 194, 194, 0.171);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg;
  color: $txt;
  font-family: 'Poppins', sans-serif;
}

// Define styles for the dynamic table
.resultsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 14px;
  text-align: left;

  th {
    text-align: center;
    background-color: $tert;
    color: $txt;
    padding: 8px;
  }

  td, th {
    text-align: center;
    border: 1px solid $quin;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: $quin;
  }

  tr:hover {
    background-color: $quat;
  }
}

// Define styles for the main container
.main {
  display: inline-block;
  max-width: 80%;
  margin: 10% 0 auto;
  padding: 30px;
  border: 1px solid $tert;
  border-radius: 8px;
  box-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;


  button {
    margin-top: 20px;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;
    }
  }

  h1 {
    font-size: 48px;
    text-shadow: 0px 0px 5px $quin, 0px 0px 5px $txt, 0px 0px 10px $tert;
    animation: myAnimation 5s infinite;
  }

  p {
    font-size: 20px;
  }
}

@keyframes myAnimation {
  0%, 100% {
    text-shadow: 0px 0px 5px $quin, 0px 0px 5px $txt, 0px 0px 10px $tert;
  }
  25% {
    text-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;
  }
  50% {
    text-shadow: 0px 0px 15px $quin, 0px 0px 15px $txt, 0px 0px 20px $tert;
  }
  75% {
    text-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;
  }
}