// Import Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300;1,700&display=swap');


// Define variables
$bg:rgb(8, 8, 26);
$txt: white;
$tert: #046adf;
$quat: rgb(83, 36, 145);
$quin: rgb(0, 41, 117);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg;
  color: $txt;
  font-family: 'Poppins', sans-serif;
}

// Define styles for the dynamic table
.resultsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 14px;
  text-align: left;

  th {
    text-align: center;
    background-color: $tert;
    color: $txt;
    padding: 8px;
  }

  td, th {
    text-align: center;
    border: 1px solid $quin;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: $quin;
  }

  tr:hover {
    background-color: $quat;
  }
}

// Define styles for the main container
.main {
  display: inline-block;
  max-width: 80%;
  margin: 10% 0 auto;
  padding: 30px;
  border: 1px solid $tert;
  border-radius: 8px;
  box-shadow: 0px 0px 10px $quin, 0px 0px 10px $txt, 0px 0px 15px $tert;
  
}

// Define styles for input fields and labels
.match-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid lighten($quin, 20%);
  border-radius: 8px;
  background-color: darken($quin, 5%);

  label,
  input {
    width: calc(50% - 10px);
    margin-bottom: 10px;
    font-size: 16px;
  }

  input {
    padding: 8px;
    border: 1px solid lighten($tert, 20%);
    border-radius: 4px;
    background-color: $bg;
    color: $txt;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px lighten($tert, 40%);
    }
  }
}

// Define styles for the form container
#form-container {
  margin-top: 20px;

  button {
    margin-top: 20px;
    background-color: $tert;
    color: $txt;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: lightblue;
    }
  }
}


// Error Modal Styles
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); // Semi-transparent background
}

.modal-content {
  background-color: $bg;
  color: $txt;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid $tert;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.close {
  color: $txt;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: $tert;
  text-decoration: none;
  cursor: pointer;
}
// API Request Form Styles
#apiRequestFormContainer {
  margin-top: 30px;
}

#apiRequestForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input, select, button {
    padding: 10px;
    font-size: 16px;
  }
}

// API Data Table Styles
.apiDataTable {
  @extend .resultsTable;
}
